<a href="https://colab.research.google.com/github/Luqman9191/Data_Science-_Projects/blob/main/Project_2_Credit_Card_Fraud_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Importing Libraries**

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import  StandardScaler
from sklearn.metrics import accuracy_score

**Load Data set**

In [2]:
# Loading data set into pandas data frame
df=pd.read_csv('/content/drive/MyDrive/creditcard.csv')

df.head() # show first 5 rows

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69      0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66      0
3   1.0 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50      0
4   2.0 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99      0

[5 rows x 31 columns]

In [3]:
df.tail()  # show last 5 rows

            Time         V1         V2  ...       V28  Amount  Class
284802  172786.0 -11.881118  10.071785  ...  0.823731    0.77      0
284803  172787.0  -0.732789  -0.055080  ... -0.053527   24.79      0
284804  172788.0   1.919565  -0.301254  ... -0.026561   67.88      0
284805  172788.0  -0.240440   0.530483  ...  0.104533   10.00      0
284806  172792.0  -0.533413  -0.189733  ...  0.013649  217.00      0

[5 rows x 31 columns]

**Exploratory Data Analysis**

Exploratory data analysis is also known as (EDA) .This technique is used to explore data set for the better understanding of data set

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [5]:
df.shape # This shows the total no.of rows and columns in data set

(284807, 31)

In [6]:
df.describe()  # describe show the statistical summary of the data set

                Time            V1  ...         Amount          Class
count  284807.000000  2.848070e+05  ...  284807.000000  284807.000000
mean    94813.859575  3.919560e-15  ...      88.349619       0.001727
std     47488.145955  1.958696e+00  ...     250.120109       0.041527
min         0.000000 -5.640751e+01  ...       0.000000       0.000000
25%     54201.500000 -9.203734e-01  ...       5.600000       0.000000
50%     84692.000000  1.810880e-02  ...      22.000000       0.000000
75%    139320.500000  1.315642e+00  ...      77.165000       0.000000
max    172792.000000  2.454930e+00  ...   25691.160000       1.000000

[8 rows x 31 columns]

**Data Cleaning**

In [7]:
# droping the duplicates values
df=df.drop_duplicates()

In [8]:
df.shape # after droping the duplicates

(283726, 31)

In [9]:
# checking the null values
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

**0 --> Normal / Legit Transaction**

**1 --> Fraudlent Transaction**

In [10]:
# Distribution of legit transaction and fraudlent transaction
df['Class'].value_counts()

0    283253
1       473
Name: Class, dtype: int64

Data set is highly unbalanced

In [11]:
# Separating the data for analysis
normal = df[df.Class==0]
fraud = df[df.Class==1]

In [12]:
print(normal.shape)

(283253, 31)

In [13]:
print(fraud.shape)

(473, 31)

In [14]:
normal.Amount.describe()

count    283253.000000
mean         88.413575
std         250.379023
min           0.000000
25%           5.670000
50%          22.000000
75%          77.460000
max       25691.160000
Name: Amount, dtype: float64

In [15]:
fraud.Amount.describe()

count     473.000000
mean      123.871860
std       260.211041
min         0.000000
25%         1.000000
50%         9.820000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [16]:
df.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28      Amount
Class                                    ...
0      94835.058093  0.013439 -0.009829  ...  0.001409  0.000418   88.413575
1      80450.513742 -4.498280  3.405965  ...  0.213774  0.078270  123.871860

[2 rows x 30 columns]

**Under-Sampling**

Building a sample dataset containing similer distribution of normal and fraudlent transaction.

Number of fraudlent transaction are --> 473

In [17]:
normal_sample = normal.sample(n=473)

Concatenating two datasets

In [18]:
df1=pd.concat([normal_sample, fraud] , axis=0)

In [19]:
df1.shape

(946, 31)

In [20]:
df1['Class'].value_counts()

1    473
0    473
Name: Class, dtype: int64

In [21]:
df1.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28      Amount
Class                                    ...
0      95015.915433  0.171771  0.087415  ...  0.005998 -0.001998   79.136554
1      80450.513742 -4.498280  3.405965  ...  0.213774  0.078270  123.871860

[2 rows x 30 columns]

**Spliting the data into features and target**

In [22]:
X = df1.drop(columns='Class', axis=1)
Y = df1['Class']

In [23]:
print(X)

            Time        V1        V2  ...       V27       V28  Amount
194591  130666.0  2.036412 -0.488276  ... -0.003691 -0.064127   51.98
184902  126439.0 -5.220249 -2.100849  ... -0.408471 -1.217567  234.20
257378  158136.0 -3.050359 -3.362924  ... -0.146919 -0.578054  164.81
26076    33896.0  1.314880  0.257239  ... -0.027262  0.012057    4.29
227416  145066.0  0.091666  0.353197  ...  0.148513  0.165284    1.00
...          ...       ...       ...  ...       ...       ...     ...
279863  169142.0 -1.927883  1.125653  ...  0.292680  0.147968  390.00
280143  169347.0  1.378559  1.289381  ...  0.389152  0.186637    0.76
280149  169351.0 -0.676143  1.126366  ...  0.385107  0.194361   77.89
281144  169966.0 -3.113832  0.585864  ...  0.884876 -0.253700  245.00
281674  170348.0  1.991976  0.158476  ...  0.002988 -0.015309   42.53

[946 rows x 30 columns]

In [24]:
print(Y)

194591    0
184902    0
257378    0
26076     0
227416    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 946, dtype: int64

**Spliting the data into training and testing**

In [25]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2 , stratify = Y, random_state = 2)

In [26]:
print(X.shape, X_train.shape, X_test.shape)

(946, 30) (756, 30) (190, 30)

**Model Training**

Logestic Regression

In [27]:
model = LogisticRegression()

In [28]:
model.fit(X_train , Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

**Model Evaluation**

Accuracy Score

In [29]:
# Accuracy score of training data
X_train_prediction = model.predict(X_train)
accuracy_score_training_data = accuracy_score(X_train_prediction, Y_train)
print("Accuracy on traing data ",accuracy_score_training_data)

Accuracy on traing data  0.9470899470899471

In [30]:
# Accuracy score of test data
X_test_prediction = model.predict(X_test)
accuracy_score_testing_data = accuracy_score(X_test_prediction, Y_test)
print("Accuracy on testing data ",accuracy_score_testing_data)

Accuracy on testing data  0.9157894736842105

**Checking model Prediction Results**

In [31]:
input_data = (172792,-0.53341252200504,-0.189733337002305,0.703337366963779,-0.506271240328258,-0.0125456787599659,-0.649616685713792,1.57700625437629,-0.414650407552662,0.486179505267237,-0.915426648905893,-1.04045833522361,-0.0315130540252157,-0.188092900791737,-0.0843164698151014,0.0413334553360658,-0.302620086427415,-0.660376645182784,0.16742993371973,-0.256116871098099,0.382948104875066,0.261057330790975,0.643078437820093,0.376777014169917,0.00879737940024202,-0.473648703898825,-0.818267121041176,-0.00241530880001015,0.0136489143320671,217)
# changing the input data into numpy array
input_data_into_numpy_array = np.asarray(input_data)

# reshape the array for predicting one value 
input_data_reshaped = input_data_into_numpy_array.reshape(1,-1)
prediction = model.predict(input_data_reshaped)
print(prediction)

[0]

In [32]:
if (prediction[0] == 0):
  print('The transaction is Normal')
else:
  print('The transaction is Fraudlent')

The transaction is Normal